<!--Ryan, this one's for you-->

{% extends "base.html" %}


{% block content %}

<div class="container">
    <!--Header Section-->
    <header class="row">
        <div class="col-12-md-6" id="header-text">
            <h2>Gotta Collect 'Em All!</h2>
            <h5>Track YOUR Pokemon card journey today.</h5>
            <div>
                <button class="button">Make Bulbapedia Notice Us</button>
                <button class="button">Join Our Discord</button>
                <button class="button">Nintendo Please Don't Notice Us</button>   
            </div>
        </div>
    </header>
    <!--End of Header Section-->

    <!--Start Middle Section-->

    <!--Collection of Features Section-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/pokeball.png" alt="pixel pokeball">
            <h4>Save Your Collection</h4>
            <p>
                Somewhere on the internet, someone's going to be very mad you have a card they don't! Bask in it.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/pokeball.png" alt="pixel pokeball">
            <h4>Build Your Deck</h4>
            <p>
                I mean people theoretically use these for card games, we think.
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/pokeball.png" alt="pixel pokeball">
            <h4>Estimate Your Worth</h4>
            <p>
                Well, the worth of your collection anyway. Not your personal worth. That would cost extra.
            </p>
        </div>
    </section>
    <!--End of Collection Features-->

    <!--Community Section-->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/mew.png" alt="pixel mew" id="mew-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Share with other Poke-fans!</h4>
            <p>
                Just please don't tell Nintendo. 
            </p>

            <p>
                Seriously Nintendo, sirs, please do not make like Wizards of the Coast and send Pinkertons this is just for fun please-
            </p>
            <div>
                <button class="button">View on Github</button>
                <button class="button">Please Join Our Discord</button>
            </div>
        </div>
    </section>
    <!--End Community Section-->

    <!--Footer-->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images/red.png" alt="Coding Drones Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <h4>I'm</h4>
            <p>I can only make fun</p>
            <p>Of Nintendo capitalism</p>
            <p>For so long</p>
        </div>
        <div class="col-2">
            <h4>Running</h4>
            <p>Also those weirdos</p>
            <p>Who were stealing card packs</p>
            <p>From all those stores</p>
            <p>Am I the only one</p>
            <p>Who still remembers that?</p>
        </div>
        <div class="col-2">
            <h4>Out</h4>
            <p>Mimikyu is the best Pokemon</p>
            <p>What an angel</p>
            <p>20/10 no notes</p>
        </div>
        <div class="col-2">
            <h4>Of</h4>
            <p>I'll probably come back</p>
            <p>And change the CSS</p>
            <p>To make it more unique</p>
            <p>I'm just kinda out</p>
            <p>Of ideas today</p>
        </div>
        <div class="col-2">
            <h4>Jokes</h4>
            <p>Well whoever is grading this</p>
            <p>Have a good rest of your day!</p>
            <p>Don't forget to:</p>
            <p>Stretch</p>
            <p>Hydrate</p>
        </div>
    </footer>
</div>

{% endblock content %}