<!--Ryan, this one's for you-->

{% extends "base.html" %}

{% block content %}

<div class="container">
    <!--Header-->
    <header class="row">
        <div class="col-12-md-6" id="header-text">
            <h2>Gotta Collect 'Em All!</h2>
            <h5>Track YOUR Pokemon card journey today.</h5>
            <div>
                <button class="button">Make Bulbapedia Notice Us</button>
                <button class="button">Join Our Discord</button>
                <button class="button">Nintendo Please Don't Notice Us</button>   
            </div>
        </div>
    </header>
    <!--End Header-->

    <!--Features-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-3">
            <img src="../../static/images/pokeball.png" alt="pixel pokeball">
            <h4>Save Your Collection</h4>
            <p>
                Somewhere on the internet, someone's going to be very mad you have a card they don't! Bask in it.
            </p>
        </div>
        <div class="col-12 col-md-3">
            
            <h4>Build Your Deck</h4>
            <p>
                I mean people theoretically use these for card games, we think.
            </p>
            <img src="../../static/images/pokeball.png" alt="pixel pokeball">
        </div>
        <div class="col-12 col-md-3">
            <img src="../../static/images/pokeball.png" alt="pixel pokeball">
            <h4>Estimate Your Worth</h4>
            <p>
                Well, the worth of your collection anyway. Not your personal worth. That would cost extra.
            </p>
        </div>
        <div class="col-12 col-md-3">
            <h4>Be Popular With Your Preferred Gender(s)</h4>
            <p>
                Pokemon cards are very cool to collect and will DEFINITELY help you get a date.
            </p>
            <img src="../../static/images/pokeball.png" alt="pixel pokeball">
        </div>
    </section>
    <!--End Features-->

    <!--Community-->
    <section class="row"> 
        <div class="col-12 col-md-6">
            <h4>Share with other Poke-fans!</h4>
            <p>
                Just please don't tell Nintendo. 
            </p>

            <p>
                Seriously Nintendo, sirs, please do not make like Wizards of the Coast and send Pinkertons this is just for fun please-
            </p>
            <div>
                <button class="button">View on Github</button>
                <button class="button">Please Join Our Discord</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="../../static/images/mew.png" alt="pixel mew" id="mew-image">
        </div>
    </section>
    <!--End Community-->

    <!--Footer-->
    <footer class="row" id="footer">
        <div class="col-3">
        </div>
        <div class="col-2">
            <h4>Trans</h4>
            <p>I can only make fun</p>
            <p>Of Nintendo capitalism</p>
            <p>For so long</p>
        </div>
        <div class="col-2">
            <h4>Rights</h4>
            <p>Fun Fact: Trans care bans for minors have been ruled unconstitutional or otherwise struck down in 6 states as of this writing</p>
        </div>
        <div class="col-2">
            <h4>Now</h4>
            <p>Well whoever is grading this</p>
            <p>Don't forget to:</p>
            <p>Stretch</p>
            <p>Hydrate</p>
        </div>
    </footer>
    <!--End Footer-->
</div>

{% endblock content %}