*{
    /* border: 1px solid yellowgreen; */
    margin: 0;
}

/* Nav*/

.navigation{
    justify-content: space-between;
    position: relative; 
    width: 100vw;
    height: 10%;
    text-align: center;
    background-color: red;
    border-bottom: 3px solid black;  
}

#horizontal-list{
    min-width: 785px;
    list-style: none;
    padding-top: 20px;
}

#horizontal-list li, #horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: .5vw;
    color: white;
    
}

#horizontal-list a:nth-last-child(1){
    border: 3px solid black;
    background-color: black;
    border-radius: 4vw;
    color: white;
}

/* End Nav */

/* Header */
.button{
    background-color: red;
    color: white;
    border: 3px solid black;
    border-radius: 4vw;
    padding: .5vw;
    margin: .2vw;
}

#header-text{
    padding: 2vw;
}

.header-image{
    width: 82%;
    max-width: 100%;
}

/* End Header */

/* Middle */

.row img{
    width: 3vw;
}

#middle-text{
    text-align: center;
    padding: 13vh; 
}

#middle-text h2{
    padding: 1.5vw; 
}

/* End Middle */

/* Features */
img{
    margin-bottom: 2vh; 
}

#features-section{
    margin: 8vw; 
    text-align: center;
}

/* End Features */

/* Community  */

#mew-image{
    width: 26%;
    max-width: 75%;
    margin-left: 20vw; 
}

/* End Community */

/* Footer */

#footer h4{
    color: white;
}

#footer{
    align-content: center;
    text-align: center;
    border: 4px solid black;
    margin-top: 20vh; 
    background-color: red;
    border-top-left-radius: 30% 80%;
    border-top-right-radius: 30% 80%;
    color: black;
    padding-top: 10vh;
    bottom: 0px;
    width: 100%;
    left: -5vw;
}

/* End Footer */